.fc-time-area.fc-widget-header div > span.fc-cell-text {
    font-size: 5px;
}

#calendar > div.fc-view-container > div > table > tbody > tr > td.fc-time-area.fc-widget-content > div > div > div > div.fc-content > div > table > tbody > tr[data-resource-id] > td > div {
    height: 10px !important;
    overflow: hidden;
}

#calendar > div.fc-view-container > div > table > tbody > tr > td.fc-time-area.fc-widget-content > div > div > div > div.fc-content > div > table > tbody > tr[data-resource-id] > td > div > div.fc-event-container > a.fc-event {
    color: transparent !important;
}

#calendar > div.fc-view-container > div > table > tbody > tr > td.fc-resource-area.fc-widget-content > div > div > div > div.fc-content > div > table > tbody > tr[data-resource-id] > td > div {
    height: 10px !important;
    overflow: hidden;
    font-size: 5px;
}

#calendar > div.fc-view-container > div > table > tbody > tr > td.fc-resource-area.fc-widget-content > div > div > div > div.fc-content > div > table > tbody > tr[data-resource-id] > td > div > div.fc-cell-content {
    padding-top: 0px;
}

#calendar > div.fc-view-container > div > table > tbody > tr > td.fc-time-area.fc-widget-content > div > div > div > div.fc-content > div > table > tbody > tr:not([data-resource-id]) > td > div {
    height: 10px !important;
}

#calendar > div.fc-view-container > div > table > tbody > tr > td.fc-resource-area.fc-widget-content > div > div > div > div.fc-content > div > table > tbody > tr:not([data-resource-id]) > td > div {
    height: 10px !important;
    font-size: 5px;
}

#calendar > div.fc-view-container > div > table > tbody > tr > td.fc-resource-area.fc-widget-content > div > div > div > div.fc-content > div > table > tbody > tr:not([data-resource-id]) > td > div > div.fc-cell-content {
    padding-top: 0px;
}
